*{
  margin: 0;
  box-sizing: border-box;

}
body{
  background-color: #03001C;
  font-family: 'Hanken Grotesk', sans-serif;
  color: white;
}
.about-image{
  margin: 0 auto;
}
.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;

}
.container-first-part{
  display: flex;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.container-first-part-label{
  display: inherit;
  flex-direction:column ;
  cursor: pointer;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  padding-top: 50px;
  transition: 0.5s;
  border: solid 2px #5B8FB9;
  color: #5B8FB9;


}

.container-first-part-label:hover{
  background-color: #301e674f;
  border: solid 2px #B6EADA;
  color: white;


}
.container-first-part-label img{
  margin: 0 auto;
}
.container-first-part span {
  padding-top: 30px;
  font-size: 0.8rem;
}

.hidden{
  display: none;
}
.hidden-form1 input,.hidden-form2 input {
  border: solid #5B8FB9 ;
  border-radius: 5px;
  height: 30px;
  margin: 5px;
}
.btn-form{
  margin-top: 10px;
  width: 12rem;
  height: 3rem;
  border-radius: 12px;
  cursor: pointer;
  background-color: #301e674f;
  border: solid 2px #5B8FB9;
  color: white;
  margin-bottom: 10px;
  transition: 1s;
}
.btn-form:hover{
  background-color: #b6eada5b;

}


